.git
.gitignore
Dockerfile     
README.md         
LICENSE
*.md

__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
dist/
build/

.venv/
env/
*.iml
.idea/
.vscode/
*.swp
*.swo
*.bak
.DS_Store

tests/
notebooks/
sample_data/
input/
output/

